@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
body {
    background-color: #191919;
    color: #d3d3d3;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 17px;
}

h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    text-align: center;
    font-size: 50px;
}

input, button, select {
    font-family: 'Gilroy-Medium', sans-serif;
    color: #f04d4d;
    background-color: #474646;
    border-radius: 10px;
    padding: 4px;
    font-size: 15px;
    border-color: #191919;
}

form {
    border-radius: 10px;
    border: 3px solid #2a2a2a;
    padding: 5px;
    border-color: #2a2a2a;
    text-align: center;
    width: 40%;
    position: absolute;
    left: 30%;
}

#css_zamow, button {
    font-size: 20px;
    font-family: 'Gilroy-Medium', sans-serif;
}

button {
    padding: 5px;
    font-size: 17px;
    background-color: #2e2e2e;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 7px;
    margin: 0;
    transition: 0.5s linear all;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background-color: #EB5757;
    transition: 0.5s linear all;
}

hr {
    color: #2a2a2a;
    border-top: 2px solid;
    width:100%;
}

#zamowienie {
    position: absolute;
    bottom: 0;
    color: #191919;
    border-radius: 20px;
    padding: 10px;
    right: 15px;
}